* {
    padding:0;
    margin:0;
}

body {
    height:100vh;
}

.container {
    display: flex;
    height: 80%;
}

#header {
    height:10%;
    background-color: rgb(24, 80, 80);
}

#footer {
    height:10%;
    background-color: rgb(24, 80, 80);
}

.sidebar {
    width:300px;
    height:100%;
    background-color: aqua;
}

.content {
    height:100%;
    flex:1;
}

/* not a good idea to use relative unit for height*/