<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout5</title>
    <link rel = 'stylesheet' href="./style5.css">
</head>
<body>
    <div class = 'section'>
        <div class = 'header'>
            <div></div>
            <div></div>
        </div>
        <div class = 'content'>
            <div class = 'text'></div>
            <div class = 'sub-text'></div>
        </div>
    </div>
    <div class = 'section2'>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class = 'section3'>
        <div class = 'side-text'></div>
        <div class = 'wrapper-column'>
            <div class = 'text'></div>
            <div class = 'sub-text'></div>
        </div>       
    </div>
    <div class = 'section4'>
        <div>
            <div class = 'circle'></div>
            <div class = 'rect'></div>
        </div>
        <div>
            <div class = 'circle'></div>
            <div class = 'rect'></div>
        </div>
    </div>
    <div class = 'section5'>
        <div class = 'placeholder'></div>
        <div class = 'placeholder'></div>
        <div class = 'wrapper-column'>
            <div class = 'rect'></div>
            <div class = 'rect'></div>
        </div>
    </div>
</body>
</html>